<!DOCTYPE html>
<html>
  <head>
    <title>Rails App</title>
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>