
#battle {
  display: flex;
  flex-direction:ã€€row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  #not-status{

    #bar { 
      width: 400px;
      margin: 30px 0;
      .progress-bar{
        background-color: blue;
        height: 30px;
      }
      .progress{
        background-color: white;
        height: 30px;
      }
    }
  #area {
    position: relative;
    border: 4px solid white;
    padding: 40px;
    z-index: 1;
    min-width: 600px;



    #image-and-notify-area{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #img-container{
        margin: 30px 0;
      }
      #notify-area {
        min-width: 300px;
        text-align: center;
        margin-left: 50px;
        #clear {
          color: skyblue;
          background-color: white;
          line-height: 2rem; 
          border-radius: 10px;
        }
        #invalid-key {
          color: red;
          background-color: white;
          line-height: 2rem;
          border-radius: 10px;
        }
      }
    }    
  }
    #odai {
      font-size: 2rem;
    }
    #condition {
      margin: 20px 0;

    #valid{
      color: yellow;
    }
    #invalid{
      color: rgba(255,255,255,0.8)
    }
   }   
 }
}
